<div class="container main-container">
	<div class="row">
		<div class="col-md-4">
			<%= render 'user/users/profile', user: current_user %>
		</div>
		<div class="col-md-8">
			<h2>Diary Index</h2>
			<%= render 'list', diaries: @diaries %>
		</div>
	</div>
</div>
