// Place all the styles related to the admin/contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.btn.btn-default.contact-btn {
    padding: 2px 15px 2px;
}
.contact-edit {
	border-bottom: 2px dashed #F19C99;
	width: 20%;
}

/*レスポンシブ対応425px以下*/
@media screen and (max-width:425px) {
	.contact-edit {
		font-size: 16px;
	}
}