<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<div class="leave-page">退会ページ</div>
			<div class="leave-content">
				退会すると、会員登録情報や<br>
				これまでの購入履歴が閲覧できなくなります<br>
				退会する場合は、「退会する」をクリックしてください
			</div>
			<div class="leave-link">
				<%= link_to '退会する', hide_path %>
				<%= link_to '退会しない', user_path(current_user) %>
			</div>
		</div>
	</div>
</div>