<div class="container main-container">
	<div class="row">
		<div class="col-md-4">
			<%= render 'profile', user: @user %>
		</div>
		<div class="col-md-8">
			<h2>User Index</h2>
			<%= render 'user/diaries/list', diaries: @diaries %>
		</div>
	</div>
</div>