<div class="container main-container">
	<div class="row">
		<div class="col-md-12">
			<div class="title-head">
				Title:<%= @diary.title %>
			</div>
			<div class="image-content">
				<%= attachment_image_tag @diary, :image, :fill, 400, 300, format: 'jpg' %>
			</div>
			<div class="diary_content">
				<%= simple_format(@diary.body) %>
			</div>
			<%= link_to 'Destroy', admin_user_diary_path(@diary), method: :delete %>
		</div>
	</div>
</div>