<div class="container main-container text-center">
	<div class="row">
		<div class="col-md-12">
			<div class="top-imege">
				<div class="slider">
          			<div class="slider_image"><%= image_tag 'ninpu.jpg', class: 'slick_image' %></div>
          			<div class="slider_image"><%= image_tag 'foot.jpg', class: 'slick_image' %></div>
          			<div class="slider_image"><%= image_tag 'hand.jpg', class: 'slick_image' %></div>
				</div>
			</div>
			<div class="about-content">
				<h1 class="about-headline">
					『まますく』とは...
				</h1>
				<div class="about-text-content">
					ままに優しい『まますく』サイト<br>
					日々の子育ての喜びを簡単に日記として残すことができる。<br>
					子育ての不安や悩みは誰にでもあること...<br>
					そんな時、『まますく』でたくさんのまま達の体験談や知識を<br>
					キーワード検索で共有することができる。<br>
					さらに、チャットサービスを利用すると同年代のまま友ができる！<br>
					『まますく』を利用して、子育てをさらに楽しめることを願っています。
				</div>
			</div>
		</div>
	</div>
</div>