<div class="container main-container">
	<div class="row">
		<div class="col-md-12 text-center">
			<div class="top-imege">
				<%= image_tag 'mother.jpg', class: "top-image-mother" %>
			</div>
			<div class="top-contant clearfix">
				<div class="content-box">
					<span class="glyphicon glyphicon-user top-icon" aria-hidden="true"></span><br>
					<span class="top-text">まま限定アプリ</span><br>
					<div class="text-content">
						ままに優しく<br>
						子育てを楽しめるサイト
					</div>
				</div>
				<div class="content-box">
					<span class="glyphicon glyphicon-envelope top-icon" aria-hidden="true"></span><br>
					<span class="top-text">チャットサービス</span><br>
					<div class="text-content">
						同年齢のままと<br>
						交流を持つことができる
					</div>
				</div>
				<div class="content-box">
					<span class="glyphicon glyphicon-search top-icon" aria-hidden="true"></span><br>
					<span class="top-text">キーワード検索</span><br>
					<div class="text-content">
						気になる子育てワードで<br>
						検索ができる
					</div>
				</div>
				
			</div>

		</div>
	</div>
</div>