<div class="container main-container">
	<div class="row">
		<div class="col-md-12 text-center">
			<div class="top-imege">
				<img src="/assets/mother" style="width:640px; height:530px; border-radius: 50%">
			</div>
			<div class="top-contant">
				<div class="content-box">
				</div>
			</div>

		</div>
	</div>
</div>