<div class="container main-container">
	<div class="row">
		<div class="col-md-12">
			<h2 class="sub-title">Notification</h2>
				<% if @notifications.exists? %>
					<div class="users-index">
						<%= render @notifications %>
						<div class="paging">
							<%= paginate @notifications %>
						</div>
					</div>
				<% else %>
					<p>通知はありません</p>
				<% end %>
		</div>
	</div>
</div>
