// Place all the styles related to the user/relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.follow-table {
 	width: 80%;
 	margin: 0 auto;
 }
 .follow-headline {
 	margin-left: 150px;
 }

 /*レスポンシブ対応375px以下*/
@media screen and (max-width:375px) {
 	.follow-th {
 		width: 15%;
 	}
 }