// Place all the styles related to the user/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.leave-content {
	letter-spacing: 4px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.leave-btn {
	margin-left: 20px;
}
.email-link {
	font-size: 16px;
	position: relative;
}
.notification-circle {
	font-size: 3px;
  	position: absolute;
  	border-radius: 50%;
  	color: red;
}
a.btn.btn-default.follow-btn, a.btn.btn-default.chat-btn, input.btn.btn-default.chat-start {
    padding: 2px 15px 2px;
}
.profile-table {
	margin-top: 10px;
}